@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;700&display=swap");
.navBarra {
  background-color: #131313; }
  .navBarra ul {
    background-color: #131313; }
    .navBarra ul li {
      list-style: none; }
      .navBarra ul li a {
        text-decoration: none;
        color: #F1F1F1;
        font-weight: 600;
        font-family: "Libre Franklin", sans-serif; }

h1,
h2,
h3 {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
  color: #F1F1F1; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.5rem; }

h3 {
  font-size: 2rem; }

p {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Libre Franklin", sans-serif;
  color: #F1F1F1; }

body {
  background-color: #131313;
  background-image: url(../img/textura.png);
  background-attachment: fixed; }

main img {
  width: 100%; }

form {
  font-size: large;
  color: #F1F1F1;
  font-family: "Libre Franklin", sans-serif; }

.flex {
  display: flex;
  align-items: center; }

.fotosHeight {
  height: 90%;
  object-fit: cover; }

.widthSection {
  width: 70%; }

.flex2 {
  display: flex; }

.flex3 {
  display: flex;
  align-items: center;
  justify-content: center; }
