@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;700&display=swap");
.navBarra {
  background-color: #131313; }
  .navBarra ul {
    background-color: #131313; }
    .navBarra ul li {
      list-style: none; }
      .navBarra ul li a {
        text-decoration: none;
        color: #F1F1F1;
        font-weight: 600;
        font-family: "Libre Franklin", sans-serif; }

@media (max-width: 768px) {
  .navbar-brand img {
    width: 350px; } }

@media (max-width: 449px) {
  .navbar-brand img {
    width: 250px; } }

h1,
h2,
h3,
h4 {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
  color: #F1F1F1; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.5rem; }

p {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Libre Franklin", sans-serif;
  color: #F1F1F1; }

body {
  background-color: #131313;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)); }

main img {
  width: 100%; }

form {
  font-size: large;
  color: #F1F1F1;
  font-family: "Libre Franklin", sans-serif; }

footer {
  background-color: #131313;
  text-align: center;
  color: #F1F1F1;
  width: 100%; }

.fotosHeight {
  height: 90%;
  object-fit: cover; }

.fotoWidth {
  width: 50%; }

.fotosGaleria {
  border-radius: 4px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4); }

.fotosGaleria:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4); }

.pie {
  margin-top: 10%; }

.bgCard {
  background-color: #1c1c1c;
  cursor: default; }

.bgForm {
  background-color: #131313;
  border-radius: 4px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4); }

.carousel-caption {
  transform: translateY(-50%);
  bottom: initial;
  top: 50%; }

.bgOpacity {
  background: rgba(0, 0, 0, 0);
  opacity: 0.6; }

.cardTitle {
  transform: translateY(400%); }

.dFlex, .dFlex2, .dFlex3 {
  display: flex;
  align-items: center; }

.dFlex2, .dFlex3 {
  justify-content: center; }

.dFlex3 {
  flex-direction: column; }

.bgImage, .bgImage2 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(../galeria/fotoabout3.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4); }

.bgImage2 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(../galeria/fotoabout2.jpg);
  background-size: cover; }

p {
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 400;
  color: #F1F1F1; }

h5 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
  color: #F1F1F1; }
