
h1,
h2,
h3{
    font-family: $mainFont;
    font-weight: $fontLigera;
    color: $colorFuentes;
}

h1{
    font-size: $textHeadersUno;
    
}

h2{
    font-size: $textHedersDos;
}

h3{
    font-size: $textHeadersTres;
}

p{
    font-size: $textP;
    font-weight: $fontMediana;
    font-family: $mainFont;
    color: $colorFuentes;
}

// extras
body{
    background-color: $mainColor;
    background-image: url(../img/textura.png);
    background-attachment: fixed;   
    // position: relative;
    
}
    

main img{
    width: 100%;
}

form{
    font-size: large;
    color: $colorFuentes;
    font-family: $mainFont;
    
}

footer{
    background-color: $mainColor;
    text-align: center;
    color: $colorFuentes;
    width: 100%;
    
}
    // position: absolute;
    // bottom: 0;
    // width: 100%;
    


// extra galería



.fotosHeight{
height: 90%;
object-fit: cover;

}


.fotoWidth{
    width: 50%;
}


// extra de la página de about us

.bgImage3{
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
    background-size:cover;
    height: 100vh;
    
    

}

.pie{
    margin-top: 10%;
}




.bgIndex{
    background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)),url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

@media (max-width: 768px){
    .bgIndex{
        background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)),url(../img/backrground2.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
}