
h1,
h2,
h3,
h4{
    font-family: $mainFont;
    font-weight: $fontLigera;
    color: $colorFuentes;
}

h1{
    font-size: $textHeadersUno;
    
}

h2{
    font-size: $textHedersDos;
}

h3{
    font-size: $textHeadersTres;
}


p{
    font-size: $textP;
    font-weight: $fontMediana;
    font-family: $mainFont;
    color: $colorFuentes;
}


// extras
body{
    background-color: $mainColor;
    background:$bgGeneral ;
    
}
    

main img{
    width: 100%;
}

form{
    font-size: large;
    color: $colorFuentes;
    font-family: $mainFont;
    
}

footer{
    background-color: $mainColor;
    text-align: center;
    color: $colorFuentes;
    width: 100%;
    
}


// extra galería


.fotosHeight{
height: 90%;
object-fit: cover;

}

.fotoWidth{
    width: 50%;
}

.fotosGaleria{
    border-radius: 4px;
    box-shadow: 0px 1px 10px $boxShadow
    
}
.fotosGaleria:hover{
    box-shadow: 5px 5px 20px $boxShadow
}


.pie{
    margin-top: 10%;
}



.bgCard{
    background-color:$bgGris1;
    cursor: default;
    
}

.bgForm{
    background-color: $mainColor;
    border-radius: 4px;
    box-shadow: 0px 1px 10px $boxShadow
}


.carousel-caption{
    transform: translateY(-50%);
    bottom: initial;
    top: 50%;
}


.bgOpacity{
    background:(rgba(0,0,0,0.0));
    opacity: 0.6;
}


.cardTitle{
    transform: translateY(400%);

}

