@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;700&display=swap');

$mainFont: 'Libre Franklin', sans-serif;

// fonts size

$textHeadersUno: 3rem;
$textHedersDos: 2.5rem;
$textHeadersTres: 2rem;
$textP: 1rem;

// font weight

$fontLigera: 300;
$fontMediana: 400;
$fontPesada: 700;
$fontMP: 600;



