 .navBarra{
 background-color: $mainColor;

 
 ul{
    background-color: $mainColor;


    li{
 list-style: none;
 
 
            a{
        text-decoration: none;
        color: $colorFuentes;
        font-weight: $fontMP;
        font-family: $mainFont;
                
            }
        }
    }
}


@media (max-width: 768px){
    .navbar-brand img{
    width: 350px;
    }
}

@media (max-width: 449px){
    .navbar-brand img{
    width: 250px;
    }
}