<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The real real people - Agencia de talentos</title>
    <!-- mi CSS -->
    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="container">
    <nav class="miNav">
        <a href="../index.html"> 
            <img src="../img/logo.png" class="imagenLogo" alt="logo de trrp">
        </a>
    
        <ul>
            <li><a href="about-us.html">ABOUT US</a></li>
            <li><a href="projects.html">PROJETCS</a></li>
            <li><a href="careers.html">CAREERS</a></li>
        </ul>
    </nav>
    
    <header class="about miHeader"> 
        <h1>ABOUT THE AGENCY</h1>
    </header>
    
    <main class="miMain"> 
    
        <section class="whyHow">
        <h2>WHY ARE WE HERE?</h2>
        <p>We're finally beginning to understand the power of representation. 
        Portraying "real people" on media not only creates better connections between brands and people, but it also, and most importantly, changes our inner perceptions and self-acceptance for good.
        </p>
        <p>Unfortunately, model and casting companies still just receiving portfolios from people that only fulfill traditional beauty standards. Receiving is easier than recruiting. 
        Maybe that's why there's a lack of diversity in their portfolio.</p>
        <p>That's where we come in, to break the wheel. 
        We want to create a portfolio of "real people" at the disposition of any producer in order to finally have representation in media.</p>
        </section>
        
        <section class="whyHow">
        <h3>HOW WE DO IT?</h3>
        <p>We're enablers for people. 
        We want to make as simple as possible to be picked and shoot with a positive experience, and get paid by it without any problem. 
        Here's how we do it.
        </p>
        <p><b>Easy Access.</b> Your polas will be display in a digital platform for brands and production companies. 
        Creating equal opportunities for everybody at The Real Real People®.
        </p>
        <p><b>No shady projects.</b> Not only do we connect you with the best agencies, photographers, producers, and production companies in town, and the country but also join you to take care of you. We make sure you have the best experience while shooting.
        </p>
        <p><b>Fair baseline and fair deals.</b> We do the negotiations for you, making sure that you never get scammed. We believe in equality, all our talent gets the same amount of money. Oh, and also believe in transparency, that's why you'll always have access to financial information according to your contract and our fees.</p>
        </section>
    </main>
    
    <footer class="pie" class="miFooter"> 
        <a href="https://www.instagram.com/realrealpeople/" target="_blank">
        <img src="../img/instagram.png" alt="">
        </a>
    </footer>

    
    

</body>
</html>