<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- metas seo -->
    <meta name="description" content="We are constantly looking for new and diverse talent to be part of our team.">
    <meta name="keywords" content="agency,talents,diversity,work,team,sign">

    <title>The real real people - Be part of one of the most recognized talent agencies worldwide </title>
    <link rel="icon" href="../img/favicon.ico">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> 

    <!-- mi CSS -->
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
        <!-- empieza nav con Bootstrap -->
        <nav class=" navBarra navbar navbar-expand-lg navbar-dark sticky-top" style="background-color:#131313 ;font-size: medium;">
            <div class="container-fluid">
            <a class="navbar-brand" href="../index.html">
                <img src="../img/logo.png" alt="logo de trrp">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item mx-2">
                    <a class="nav-link" aria-current="page" href="about-us.html">ABOUT US</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="projects.html">PROJECTS</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="careers.html">CAREERS</a>
                </li>
                </ul>
            </div>
            </div>
        </nav>
        <!-- termina nav con Bootstrap -->
        
        <header>
            
        </header>
<main>
    <div class="container-fluid">
    <div class="row flex2">
        
        <!-- empieza form -->
        <form class=" mx-4 my-4 col-sm-12 col-md-6 col-lg-4">
        <legend class="display-6 py-2">SIGN WITH US</legend>      
        <legend class="display-7">PERSONAL INFO</legend>
        <div class="form-row">
        <div class="form-group">
            <label for="inputName4">Name</label>
            <input type="email" class="form-control" id="inputname" placeholder="Your name goes here">
        </div>
        <div class="form-group">
            <label for="inputEmail4">Email</label>
            <br>
            <input type="email" class="form-control" id="inputname" placeholder="Your email goes here">
        </div>
        </div>
        
        <div class="form-group">
            <label for="inputState">State</label>
            <select id="inputState" class="form-control">
            <option selected class="input">Choose...</option>
            <option>Nuevo Leon</option>
            <option>CDMX</option>
            <option>Other</option>
            </select>
        </div>
        </form>
        <!-- termina form -->

        <div class="col-sm-12 col-md-6 col-lg-6 flex3">
            <img src="../galeria/fotocareers.jpg" alt="foto modelos" class="w-75 py-4">
        </div>

    </div>
    </div>
        
    </main>
<!-- Contenido pasado -->

<!-- <body class="container">
    <nav class="miNav">
        <a href="../index.html"> 
            <img src="../img/logo.png" alt="logo de trrp">
        </a>
    
        <ul>
            <li><a href="about-us.html"">ABOUT US</a></li>
            <li><a href="projects.html">PROJETCS</a></li>
            <li><a href="careers.html">CAREERS</a></li>
        </ul>
    </nav>
    
    <header class="about miHeader">
        <h1>Sign with us</h1>
    </header>

    <main class="miMain"> 
        <h2 class="whyHow">We want you in our team because you are real</h2>
        <section class="whyHow"> <form action="envio.php"></form>  
            <fieldset class="letraForm"> 
                <legend>Personal info</legend>
                <label for="name">Name</label>   
                <input type="text" id="name" placeholder="Your name goes here">
                <br>
                <label for="email">Email</label>
                <input type="email" id="email" placeholder="Tap your email">
                <br> 
                <label for="age">Birthday</label>
                <input type="date" id="age">
                </fieldset>
                <br>
                
                <fieldset class="letraForm">
                <legend>Location</legend>
                <label for="monterrey">Monterrey</label>
                <input type="radio" id="monterrey" name="location" value="monterrey">
                <br>
                <label for="other">Other</label>
                <input type="radio" id="other" name="location" value="other">
                </fieldset>
        </section> -->
    

    
    <footer class="pie px-4"> 
        <a href="https://www.instagram.com/realrealpeople/" target="_blank">
        <img src="../img/instagram.png" alt="logo instagram">
        </a>
    </footer> 




<!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>