<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The real real people - Agencia de talentos</title>
    <!-- mi CSS -->
    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="container">
    <nav class="miNav">
        <a href="../index.html"> 
            <img src="../img/logo.png" alt="logo de trrp">
        </a>
    
        <ul>
            <li><a href="about-us.html"">ABOUT US</a></li>
            <li><a href="projects.html">PROJETCS</a></li>
            <li><a href="careers.html">CAREERS</a></li>
        </ul>
    </nav>
    
    <header class="about miHeader">
        <h1>Sign with us</h1>
    </header>

    <main class="miMain"> 
        <h2 class="whyHow">We want you in our team because you are real</h2>
        <section class="whyHow"> <form action="envio.php"></form>  
            <fieldset class="letraForm"> 
                <legend>Personal info</legend>
                <label for="name">Name</label>   
                <input type="text" id="name" placeholder="Your name goes here">
                <br>
                <label for="email">Email</label>
                <input type="email" id="email" placeholder="Tap your email">
                <br> 
                <label for="age">Birthday</label>
                <input type="date" id="age">
                </fieldset>
                <br>
                
                <fieldset class="letraForm">
                <legend>Location</legend>
                <label for="monterrey">Monterrey</label>
                <input type="radio" id="monterrey" name="location" value="monterrey">
                <br>
                <label for="other">Other</label>
                <input type="radio" id="other" name="location" value="other">
                </fieldset>
        </section>
    
    </main>
    <footer class="pie miFooter"> 
        <a href="https://www.instagram.com/realrealpeople/" target="_blank">
        <img src="../img/instagram.png" alt="">
        </a>
    </footer>
    
    

</body>
</html>