<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The real real people - Agencia de talentos</title>
    <!-- mi CSS -->
    <link rel="stylesheet" href="../css/style.css">
</head>

<body class="container">
    <nav class="miNav">
        <a href="../index.html"> 
            <img src="../img/logo.png" alt="logo de trrp" class="logo">
        </a>
    
        <ul>
            <li><a href="about-us.html"">ABOUT US</a></li>
            <li><a href="projects.html">PROJETCS</a></li>
            <li><a href="careers.html">CAREERS</a></li>
        </ul>
    </nav>
    
    <header class="about miHeader">
        <h1>OUR WORK</h1>
    </header>
    
    <main class="miMain"> 
    
        <div class=contenedor>
            <div><img src="../galeria/galeria1.jpg" alt="foto 1" class="sizeImg"></div>
            <div><img src="../galeria/galeria2.jpeg" alt="foto 2" class="sizeImg" ></div>
            <div><img src="../galeria/galeria3.jpeg" alt="foto 3" class="sizeImg"></div>
            <div><img src="../galeria/galeria4.jpg" alt="foto 4" class="sizeImg"></div>
            <div><img src="../galeria/galeria5.png" alt="foto 5" class="sizeImg"></div>
            <div><img src="../galeria/galeria6.jpeg" alt="foto 6" class="sizeImg"></div>
            <div><img src="../galeria/galeria7.jpg" alt="foto 7" class="sizeImg"></div>
            <div><img src="../galeria/galeria8.jpg" alt="foto 8" class="sizeImg"></div>
            <div><img src="../galeria/galeria9.jpg" alt="foto9" class="sizeImg"></div>
        </div>
    
    </main>
    
    <footer class="pie" class="miFooter"> 
        <a href="https://www.instagram.com/realrealpeople/" target="_blank">
        <img src="../img/instagram.png" alt="">
        </a>
    </footer>
    
    

</body>
</html>