<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="description" content="Our talents work with globally recognized brands, such as vogue, jacquemus, tom ford, among others.">
    <meta name="keywords" content="agency,models,brands,worlwide,jacquemus,tomford,magazine">

    <title>The real real people - Brands and projects in which we have been part
    </title>
    <link rel="icon" href="../img/favicon.ico">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> 

    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="bgImage3">
    
    <nav class=" navBarra navbar navbar-expand-lg navbar-dark sticky-top" style="background-color:#131313 ;font-size: medium;">
        <div class="container-fluid">
        <a class="navbar-brand" href="../index.html">
            <img src="../img/logo.png" alt="logo de la agencia">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item mx-2">
                <a class="nav-link" aria-current="page" href="about-us.html">ABOUT US</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" href="projects.html">PROJECTS</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" href="careers.html">CAREERS</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" href="store.html">STORE</a>
            </li>
            </ul>
        </div>
        </div>
    </nav>
    
    <header>
        
    </header>
    <main> 
    
        <div class="container-fluid">
            <h1 class="mx-2 my-4 text-center"></h1>
            <section class="row">
            
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <img src="../galeria/galeria1.jpg" alt="foto de modelo de color, usando un sweater color lila y tapándose la boca" class="fotosGaleria">
                </div>

                <div class="dFlex col-sm-12 col-md-6 col-lg-4">
                <img src="../galeria/galeria2.jpg" alt="close up de modelo caucásica y pelo rizado" class="fotosHeight fotosGaleria">
                </div>
            
                <div class="col-sm-12 col-md-6 col-lg-4">
                <img src="../galeria/galeria3.jpg" alt="foto de modelo afroamericano con pelo rizado y largo. Usando un outfit verde y una malla verde en el cabello." class="fotosGaleria">
                </div>
            
                <div class="dFlex col-sm-12 col-md-6 col-lg-4">
                    <img src="../galeria/galeria4.jpg" alt="close up de modelo caucásica, con los ojos cerrados y brillo en el rostro." class="fotosHeight fotosGaleria">
                </div>      
            
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <img src="../galeria/galeria5.jpg" alt="modelo oversize usando ropa de ejercicio" class="fotosGaleria">
                </div>
            
                <div class="dFlex col-sm-12 col-md-6 col-lg-4"> 
                    <img src="../galeria/galeria6.jpg" alt="modelo mayor usando un sombrero y sonriendo a la camara" class="fotosHeight fotosGaleria">     
                </div>
            
                <div class="col-sm-12 col-md-6 col-lg-4">
                <img src="../galeria/galeria7.jpg" alt="modelo transgenero usando un saco rojo, posando en un fondo negro" class="fotosGaleria">     
                </div>
            
                <div class="dFlex col-sm-12 col-md-6 col-lg-4">
                <img src="../galeria/galeria8.jpg" alt="modelo afromaericano de pelo color naranja usando un saco beige" class="fotosHeight fotosGaleria">     
                </div>
            
                <div class="col-sm-12 col-md-6 col-lg-4">
                <img src="../galeria/galeria9.jpg" alt="close up de modelo de color,tapandose un ojo con la mano." class="fotosGaleria">     
                </div>
        </section>
        </div>
    
    </main>

    
    <footer class="py-2"> 
        <a href="https://www.instagram.com/realrealpeople/" target="_blank">
        <img src="../img/instagram.png" alt="logo instagram">
        </a>
    </footer> 
    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body> 
</html>