<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- metas seo -->
    <meta name="description" content="Our talents work with globally recognized brands, such as vogue, jacquemus, tom ford, among others.">
    <meta name="keywords" content="agency,models,brands,worlwide,jacquemus,tomford,magazine">

    <title>The real real people - Brands and projects in which we have been part
    </title>
    <link rel="icon" href="../img/favicon.ico">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> 

    <!-- mi CSS -->
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <!-- empieza nav con Bootstrap -->
    <nav class=" navBarra navbar navbar-expand-lg navbar-dark sticky-top" style="background-color:#131313 ;font-size: medium;">
        <div class="container-fluid">
        <a class="navbar-brand" href="../index.html">
            <img src="../img/logo.png" alt="logo de la agencia">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item mx-2">
                <a class="nav-link" aria-current="page" href="about-us.html">ABOUT US</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" href="projects.html">PROJECTS</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" href="careers.html">CAREERS</a>
            </li>
            </ul>
        </div>
        </div>
    </nav>
    <!-- termina nav con Bootstrap -->
    
    <header>
        
    </header>
    <main> 
    
        <div class="container-fluid">
            <h1 class="mx-2 my-4 text-center"> OUR PROJECTS </h1>
            <section class="row">
            
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <img src="../galeria/galeria1.jpg" alt="foto de modelo en blanco y negro posando en balcon " class="w-100">
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4 flex">
                <img src="../galeria/galeria2.jpeg" alt="foto de portafolio café hecho de tela con manija dorada, recargado en pared naranja" class="fotosHeight">
                </div>
            
                <div class="col-sm-12 col-md-6 col-lg-4">
                <img src="../galeria/galeria3.jpeg" alt="foto de modelo dentro de un auto, usando un sombrero y lentes oscuros" class="w-100">
                </div>
            
                <div class="flex col-sm-12 col-md-6 col-lg-4">
                    <img src="../galeria/galeria4.jpg" alt="foto de dos modelos posando y de fondo se ve el cielo azul celeste" class="fotosHeight">
                </div>      
            
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <img src="../galeria/galeria5.png" alt="foto de modelo de color, sosteniendo una bolsa blanca y detrás un fondo azul metálico" class="w-100">
                </div>
            
                <div class="flex row col-sm-12 col-md-6 col-lg-4">
                    <img src="../galeria/galeria6.jpeg" alt="closeup de la cara de un modelo hombre, con barba, recostado sobre flores azules" class="fotosHeight">     
                </div>
            
                <div class="row col-sm-12 col-md-6 col-lg-4">
                <img src="../galeria/galeria7.jpg" alt="modelo de color usando un vestido blanco y boina roja, sentadas sobre un silla color café " class="w-100">     
                </div>
            
                <div class="flex row col-sm-12 col-md-6 col-lg-4">
                <img src="../galeria/galeria8.jpg" alt="retrato en blanco y negro de modelo cubriendo la mitad de su cara con la mano" class="fotosHeight">     
                </div>
            
                <div class="row col-sm-12 col-md-6 col-lg-4">
                <img src="../galeria/galeria9.jpg" alt="modelo trans de cabello rojizo usando un blazer en tono rojo, con un aro septum en la nariz y fondo negro" class="w-100">     
                </div>
        </section>
        </div>
    
    </main>



    
    <footer class="py-3 text-center"> 
        <div>
        <a href="https://www.instagram.com/realrealpeople/" target="_blank">
        <img src="../img/instagram.png" alt="logo instagram">
        </a>
        </div>
        <div>
            <a href=""></a>

        </div>
    </footer> 
    <!-- termina trabajo pasado -->
    
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body> 
</html>